# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Telethon session files
*.session
*.session-journal

# Reports
*.csv 

# Environment files
.env

# VSCode settings (optional)
.vscode/

# macOS system files
.DS_Store

# Python virtual environment folders
venv/
env/
*.egg-info/